*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /** COLORS **/
  --pine-green: hsl(175, 98%, 24%);
  --cinnamon-satin: hsla(344, 53%, 62%, 1);
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

body {
  background-color: rgb(91 165 215);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
